.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.columns > img {
  max-width: 100%;
  vertical-align: middle;
}

.wrap {
  flex-basis: 10em;
  min-width: 200px;
  padding: 10px;
  margin: 10px;
}

a {
  text-decoration: none;
  color: inherit;
}

.dont-wrap {
  white-space: nowrap;
}
